<ul>
  <li><a href="https://twitter.com/jontopielski" target="_blank"><img class="socials" src="images/twitter.png"></a></li>
  <li><a href="https://jontopielski.itch.io/" target="_blank"><img class="socials" src="images/itch.png"></a></li>
  <li><a href="https://www.youtube.com/channel/UCny2UUP6CwsblbPIA0GGokg" target="_blank"><img class="socials" src="images/youtube.png"></a></li>
  <li><a href="https://github.com/jontopielski" target="_blank"><img class="socials" src="images/github.png"></a></li>
  <li><a href="mailto:jontopielski@gmail.com" target="_blank"><img class="socials" src="images/mail.png"></a></li>
</ul>